@media screen and (max-width: 768px) {
    .contenedor {
        padding: 20px;
    }

    .contenedor h1 {
        font-size: 20px;
    }

    .contenedor .campo {
        padding: 8px;
        font-size: 14px;
    }

    .contenedor .btn {
        padding: 10px;
        font-size: 14px;
    }
}


body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f8f8f8;
    color: #333;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 30px;
    background-color: #333333;
    color: white;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

header nav ul {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 20px;
    list-style: none;
    margin: 0;
    padding: 0;
}

header nav ul li {
    display: flex;
    justify-content: center;
    align-items: center;
}

header nav ul li img {
    width: 24px;
    height: 24px;
    filter: invert(1);
    transition: transform 0.3s ease, opacity 0.3s ease;
}

.logo-container {
    display: flex;
    align-items: center;
}

.logo {
    height: 60px;
    max-width: 100%;
}

.search-form {
    display: flex;
    align-items: center;
    gap: 10px;
    flex: 1;
    max-width: 600px;
    margin: 0 20px;
}

#input_buscador {
    flex: 1;
    padding: 10px 15px;
    border: 1px solid #ddd;
    border-radius: 20px;
    font-size: 16px;
    height: 20px;
    margin-top: 2px;
}

#boton-buscador {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #ffffff;
    border: none;
    border-radius: 50%;
    height: 40px;
    width: 40px;
    cursor: pointer;
}

#boton-buscador img {
    width: 20px;
    height: 20px;
}

#boton-buscador:hover {
    transform: scale(1.1);
}

.icon-buscar {
    width: 20px;
    height: 20px;
    filter: invert(1);
}

.nav-icons {
    display: flex;
    gap: 15px;
    list-style: none;
    margin: 0;
    padding: 0;
    align-items: center;
}


.icon {
    width: 20px;
    height: 20px;
    filter: invert(1);
    transition: transform 0.3s ease, opacity 0.3s ease;
}

.icon:hover {
    transform: scale(1.1);
    opacity: 0.8;
}

#filtros-index {
    text-align: center;
}

#filtros-index img {
    width: 100%;
    max-width: 1200px;
    height: auto;
    object-fit: contain;
    border-radius: 10px;
}

.section-filtros {
    display: flex;
    justify-content: center;
    align-items: center;
    border-bottom: 1px solid #ccc;
}

.section-nav {
    display: flex;
    gap: 20px;
}

.section-nav #opciones-productos {
    display: flex;
    gap: 20px;
}

.section-nav #opciones-productos li {
    list-style: none;
}

.section-nav #opciones-productos a {
    text-decoration: none;
    color: #333;
    font-weight: bold;
}

.section-nav #opciones-productos a:hover {
    color: #ff9800;
}

#sel_cliente {
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #ddd;
    font-size: 16px;
    width: 300px;
}

.wrap-productos {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(40%, 1fr));
    gap: 20px;
    justify-content: center;
    margin:0 auto;
}
@media screen and (min-width: 920px) {
    .wrap-productos{
      width: 1140px;
        grid-template-columns: repeat(auto-fit, minmax(30%, 1fr));
    }
}


.art-producto {
    background-color: white;
    border-radius: 10px;
    padding: 15px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.art-producto img {
    width: 100%;
    height: auto;
    border-radius: 10px;
    margin-bottom: 10px;
}

.art-producto h2 {
    font-size: 18px;
    margin-bottom: 10px;
}

.art-producto p {
    font-size: 14px;
    margin: 5px 0;
}

.art-producto .precio_producto {
    font-weight: bold;
    color: #ff5722;
}

#icono-carrito-lleno {
    font-variation-settings: 'FILL' 1, 'wght' 400, 'GRAD' 0, 'opsz' 24;
}

#dire-tarj, #info-tarj {
    margin-bottom: 20px;
}

.titulo-seccion-dirpag {
    font-size: 24px;
    color: #333;
    margin-bottom: 10px;
    border-bottom: 2px solid #ddd;
    padding-bottom: 5px;
}

.lb-num-dirpag, .lb-input-dirpag {
    display: block;
    font-size: 14px;
    margin-bottom: 5px;
    color: #555;
}


.input-form, .inp-text-dir {

    box-sizing: border-box;
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 16px;


}


.input-form:focus, .inp-text-dir:focus {
    border-color: #007BFF;
    outline: none;
}

select {
    cursor: pointer;
}

::placeholder {
    color: #aaa;
}

#boton-pago {
    background-color: #28a745;
    color: white;
    border: none;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    border-radius: 5px;
    width: 100%;
}

#boton-pago:hover {
    background-color: #218838;
}

.form-dir-pago {
    max-width: 600px;
    margin: 0 auto;
}

#inp-dir-dep {
    background-color: #f8f8f8;
}

.contenedor , #dir-entrega , #info-tarj {
    max-width: 600px;
    margin: 20px auto;
    padding: 30px;
    background-color: white;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.contenedor h1 {
    font-size: 24px;
    color: #333;
    text-align: center;
    margin-bottom: 20px;
}

.contenedor label {
    display: block;
    font-size: 14px;
    margin-bottom: 8px;
    color: #555;
}



.contenedor .campo:focus {
    border-color: #007BFF;
    outline: none;
}

.contenedor .checkbox {
    margin-bottom: 15px;
}

.contenedor .checkbox + label {
    font-size: 14px;
    color: #555;
}

.contenedor .centrado a {
    color: #007BFF;
    text-decoration: none;
}

.contenedor .centrado a:hover {
    text-decoration: underline;
}

.contenedor .btn {
    width: 100%;
    padding: 12px;
    background-color: #333333;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s ease;
    margin-top:10px;
}

.contenedor .btn:hover {
    background-color: #5a5a5a;
}

section {
    padding: 20px 20px;
    background-color: #f8f8f8;
}

a {
    text-decoration: none;
    color: #007BFF;
}

a:hover {
    text-decoration: underline;
}

.carrito-vacio-mensaje {
    text-align: center;
    padding: 20px;
    font-size: 18px;
    color: #555;
    background-color: #f9f9f9;
}

.tabla-carrito {
    width: 100%;
    max-width: 800px;
    margin: 0 auto 20px auto;
    border-collapse: collapse;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.tabla-carrito th, .tabla-carrito td {
    padding: 10px;
    text-align: center;
    border: 1px solid #ddd;
}

.tabla-carrito th {
    background-color: #333;
    color: #fff;
}

.tabla-carrito td img {
    width: 50px;
    height: 50px;
    object-fit: cover;
    border-radius: 5px;
    border: 1px solid #ddd;
}

.tabla-carrito tfoot td {
    font-weight: bold;
    background-color: #f2f2f2;
}

.carrito-vacio-mensaje {
    text-align: center;
    padding: 20px;
    font-size: 18px;
    color: #555;
    background-color: #f9f9f9;
}

.botones-carrito {
    display: flex;
    justify-content: center;
    gap: 20px;
}

.btn-regresar {
    background-color: #333333;
    color: white;
    padding: 10px 20px;
    border-radius: 5px;
    text-decoration: none;
    font-size: 16px;
    transition: background-color 0.3s ease;
}

.btn-regresar:hover {
    background-color: #5a5a5a;
}

.btn-pago-disabled {
    background-color: #ccc;
    color: white;
    padding: 10px 20px;
    border-radius: 5px;
    font-size: 16px;
    border: none;
    cursor: not-allowed;
}

.volver-container {
    text-align: left;

}

.volver-container a {
    text-decoration: none;
    color: #555;
    font-size: 1rem;
    font-weight: 500;
    transition: color 0.3s ease;
}

.volver-container a:hover {
    color: #000;
    text-decoration: underline;
}

.btn-pago-able {
    background-color: #28a745;
    color: white;
    border: none;
    padding: 10px 10px;
    font-size: 16px;
    cursor: pointer;
    border-radius: 5px;
    width: auto;
}

.btn-pago-able:hover {
    background-color: #218838;
    text-decoration: underline;
}

.input-cantidad {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
}

.input-cantidad button {
    background-color: #f1f1f1;
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 5px 10px;
    font-size: 18px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    width: 35px;
    height: 35px;
}

.input-cantidad button:hover {
    background-color: #e0e0e0;
}

.input-cantidad input {
    width: 50px;
    text-align: center;
    border: 1px solid #ddd;
    border-radius: 5px;
    padding: 5px;
    font-size: 16px;
    background-color: #fff;
    color: #333;
}

.input-cantidad input:focus {
    outline: none;
    border-color: #007bff;
}

.input-cantidad button:disabled {
    background-color: #ddd;
    cursor: not-allowed;
}

.footer {
    background-color: #333333;
    color: white;
    padding: 40px 20px;
    text-align: center;
    font-size: 14px;
}

.footer-contenedor {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 30px;
}

.footer-info, .footer-links, .footer-contact {
    flex: 1;
    min-width: 200px;
}

.footer-info h3 {
    font-size: 24px;
    margin-bottom: 10px;
}

.footer-info p {
    font-size: 16px;
    line-height: 1.5;
}

.footer-links h4, .footer-contact h4 {
    font-size: 18px;
    margin-bottom: 10px;
}

.footer-links ul {
    list-style: none;
    padding: 0;
}

.footer-links ul li {
    margin-bottom: 8px;
}

.footer-links a {
    text-decoration: none;
    color: #fff;
    transition: color 0.3s ease;
}

.footer-links a:hover {
    color: #ff9800;
}

.footer-contact p {
    margin: 5px 0;
}

.footer-bottom {
    text-align: center;
    margin-top: 30px;
    font-size: 12px;
    color: #ddd;
}

.footer-bottom p {
    margin: 0;
}

@media screen and (max-width: 768px) {
    footer {
        padding: 15px;
        font-size: 14px;
        text-align: center;
    }

    footer .footer-links {
        flex-direction: column;
        gap: 15px;
    }

    footer .footer-links a {
        font-size: 14px;
    }

    footer p {
        font-size: 12px;
    }
}

/* Media Query para Formulario  de Login */
@media screen and (max-width: 768px) {
    .contenedor {
        width: 90%;
        padding: 20px;
    }

    form h1 {
        font-size: 20px;
    }

    .input-form {
        font-size: 13px;
        padding: 8px;
    }

    .btn {
        font-size: 14px;
        padding: 8px;
    }

    .centrado {
        font-size: 14px;
    }
}

@media screen and (max-width: 480px) {
    form h1 {
        font-size: 18px;
    }

    .contenedor {
        padding: 15px;
    }

    .centrado {
        font-size: 12px;
    }
}


.BotonAgregarCarrito{
    background-color: #333;
    color: #fff;
    border-radius: 50px;
    padding: 10px 24px;
    border: none;
    cursor: pointer;
}
.BotonAgregarCarrito:hover{
    background-color: #444;
}


form div.incorrect input{
          border-color: #f06272;
          background-color:#fff2f3;
      }
      #error-message{
          color:#f06272;
      }



/* Estilo general para los botones de filtro */
.btn-filter {
    background-color: #f8f9fa;
    color: #333;
    border: 2px solid #333;
    border-radius: 25px;
    padding: 10px 20px;
    font-size: 16px;
    font-weight: bold;
    cursor: pointer;
    transition: all 0.3s ease;
}

.btn-filter:hover {
    background-color: #007bff;
    color: #fff;
    transform: scale(1.1);
}

.btn-filter:active {
    background-color: #0056b3;
    border-color: #004085;
    transform: scale(0.95);
}

.btn-filter.selected {
    background-color: #007bff;
    color: #fff;
    border-color: #0056b3;
}

/* ------- ESTILO PARA MENSAJES DE ERROR EN EL LOGIN ---------*/

#error {
    color: red;
    font-size: 16px;
}

/* ----------------------------------------------