<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Página Principal</title>
    <link rel="stylesheet" href="../css/main.css">
</head>
<body>
    <header>
        <div class="logo-container">
            <a href="index.html"><img src="../images/LogoMochila.png" alt="Logo" class="logo"></a>
        </div>
        <form action="" method="POST" class="search-form">
            <input type="text" name="Buscador" id="input_buscador" value="Buscar Producto">
            <button type="submit" name="boton-buscador" id="boton-buscador">
                <img src="../images/searchIcon.png" alt="Buscar" class="icon-buscar">
            </button>
        </form>
        <nav>
            <ul>
                <li class="icon" id="icono-ubicacion"><a href="#Ubicanos">
                    <img src="../images/Ubicacion.png" alt="Ubicanos" class="icono-ubicacion">
                </a></li>
                <li class="icon" id="icono-login"><a href="login.html">
                    <img src="../images/Login.png" alt="Login" class="icono-carrito-vacio">
                </a></li>
                <li class="icon" id="icono-carrito-vacio"><a href="carrito-empty.html">
                    <img src="../images/cartEmpty.png" alt="Carrito Vacio" class="icono-carrito-vacio">
                </a></li>
                <li class="icon" id="icono-carrito-lleno"><a href="carrito.html">
                    <img src="../images/cartFull.png" alt="Carrito Full" class="icono-carrito-full">
                </a></li>
            </ul>
        </nav>
    </header>

    <main>
        <section id="filtros-index">
            <img src="../images/banner.jpg" alt="Banner">
            <section class="section-filtros">
                <nav class="section-nav">
                    <div id="opciones-productos">
                    <li><button id="btn-hombre" class="btn-filter">Hombres</button></li>
                    <li><button id="btn-mujer" class="btn-filter">Mujeres</button></li>
                    <li><button id="btn-nino" class="btn-filter">Niños</button></li>
                    <li><button id="btn-todos"class="btn-filter">Todos</button></li>
                    </div>
                </nav>
            </section>
        </section>

        <section id="catalogo" class="wrap-productos">

        </section>

    </main>
    <footer class="footer">
        <div class="footer-contenedor">
            <div class="footer-info">
                <h3>Mochilonga</h3>
                <p>Mochilas, maletas y más!</p>
            </div>
            <div class="footer-links">
                <h4>Enlaces Rápidos</h4>
                <ul>
                    <li><a href="Terminos-condiciones.html">Termino y Condiciones</a></li>
                    <li><a href="contacto.html">Contacto</a></li>
                    <li><a href="libro-reclam.html">Libro de Reclamaciones</a></li>
                    <li><a href="ayuda.html">Ayuda</a></li>
                </ul>
            </div>
            <div class="footer-contact">
                <h4>Contáctanos</h4>
                <p>Email: contacto@mochilonga.com.pe</p>
                <p>Teléfono: +1 234 567 890</p>
            </div>
        </div>
        <div class="footer-bottom">
            <p>&copy; 2024 Mochilonga. Todos los derechos reservados.</p>
        </div>
    </footer>

    <script src="../scripts/catalogo.js"></script>
</body>
</html>