<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <title>Registrar usuario</title>
    <link rel="stylesheet" href="../css/main.css">
    <script type="text/javascript" src="validacion.js" defer></script>
</head>
<body>


    <header>
        <div class="logo-container">
            <a href="index.html"><img src="../images/LogoMochila.png" alt="Logo" class="logo"></a>
        </div>
        <form action="" method="POST" class="search-form">
            <input type="text" name="Buscador" id="input_buscador" value="Buscar Producto">
            <button type="submit" name="boton-buscador" id="boton-buscador">
                <img src="../images/searchIcon.png" alt="Buscar" class="icon-buscar">
            </button>
        </form>
        <nav>
            <ul>
                <li class="icon" id="icono-ubicacion"><a href="#Ubicanos">
                    <img src="../images/Ubicacion.png" alt="Ubicanos" class="icono-ubicacion">
                </a></li>
                <li class="icon" id="icono-login"><a href="login.html">
                    <img src="../images/Login.png" alt="Login" class="icono-carrito-vacio">
                </a></li>
                <li class="icon" id="icono-carrito-vacio"><a href="carrito-empty.html">
                    <img src="../images/cartEmpty.png" alt="Carrito Vacio" class="icono-carrito-vacio">
                </a></li>
                <li class="icon" id="icono-carrito-lleno"><a href="carrito.html">
                    <img src="../images/cartFull.png" alt="Carrito Full" class="icono-carrito-full">
                </a></li>
            </ul>
        </nav>
    </header>
    <main>

        <section>
            <div class="contenedor">
                <h1>Regístrate</h1>
                <p id ="error-message"></p>
                <form id="form">
                    <div>
                        <label for="nombre-input">Nombres:</label>
                        <input class="input-form" type="text" name=nombre id="nombre-input" placeholder="Ingresa tus nombres">
                        <br>
                        <br>
                        <!---->
                        <label for="apellido-input">Apellidos</label>
                        <input class="input-form" type="text" name=apellido id="apellido-input" placeholder="Ingresa tus apellidos">
                        <br>
                        <br>
                        <!---->
                        <label for="dni-input">DNI/CI:</label>
                        <input class="input-form" type="number" name="dni" id="dni-input" placeholder="Ingresa tu numero de DNI o CI" ><br><br>
                        <!---->
                        <label for="email-input">Correo electrónico:</label>
                        <input class="input-form" type="email" id="email-input" placeholder="Ingresa tu correo"  name="email"><br><br>
                        <!---->
                        <label for="password-input">Contraseña:</label>
                        <input class="input-form" type="password" id="password-input" placeholder="Ingresa tu contraseña" name="password"><br><br>
                        <!---->
                        <label for="repeat-password-input">Repite tu contraseña:</label>
                        <input class="input-form" type="password" id="repeat-password-input" placeholder="Ingresa tu nuevamente la contraseña" name="repeatPassword" ><br><br>
                        <!---->
                        <input class="checkbox" type="checkbox" id="" value="">
                        Acepto los <a href="#"> Términos y Condiciones y Políticas de Privacidad, la política de cookies y recibir novedades y promociones.</a>
                        <br><br>
                        <!---->
                        <button type="submit" class="btn btn-primary" >Registrar</button>
                        <br><br>

                        ¿Ya tienes cuenta? <a href="login.html">Inicia la sesión</a>
                    </div>
                </form>
            </div>
        </section>
    </main>
    <footer class="footer">
        <div class="footer-contenedor">
            <div class="footer-info">
                <h3>Mochilonga</h3>
                <p>Mochilas, maletas y más!</p>
            </div>
            <div class="footer-links">
                <h4>Enlaces Rápidos</h4>
                <ul>
                    <li><a href="Terminos-condiciones.html">Termino y Condiciones</a></li>
                    <li><a href="contacto.html">Contacto</a></li>
                    <li><a href="libro-reclam.html">Libro de Reclamaciones</a></li>
                    <li><a href="ayuda.html">Ayuda</a></li>
                </ul>
            </div>
            <div class="footer-contact">
                <h4>Contáctanos</h4>
                <p>Email: contacto@mochilonga.com.pe</p>
                <p>Teléfono: +1 234 567 890</p>
            </div>
        </div>
        <div class="footer-bottom">
            <p>&copy; 2024 Mochilonga. Todos los derechos reservados.</p>
        </div>
    </footer>
</body>
</html>