<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <title>Registrar usuario</title>
    <link rel="stylesheet" href="../css/main.css">
</head>
<body>


    <header>
        <div class="logo-container">
            <a href="index.html"><img src="../images/LogoMochila.png" alt="Logo" class="logo"></a>
        </div>
        <form action="" method="POST" class="search-form">
            <input type="text" name="Buscador" id="input_buscador" value="Buscar Producto">
            <button type="submit" name="boton-buscador" id="boton-buscador">
                <img src="../images/searchIcon.png" alt="Buscar" class="icon-buscar">
            </button>
        </form>
        <nav>
            <ul>
                <li class="icon" id="icono-ubicacion"><a href="#Ubicanos">
                    <img src="../images/Ubicacion.png" alt="Ubicanos" class="icono-ubicacion">
                </a></li>
                <li class="icon" id="icono-login"><a href="login.html">
                    <img src="../images/Login.png" alt="Login" class="icono-carrito-vacio">
                </a></li>
                <li class="icon" id="icono-carrito-vacio"><a href="#Carrito de Compras">
                    <img src="../images/cartEmpty.png" alt="Carrito Vacio" class="icono-carrito-vacio">
                </a></li>
                <li class="icon" id="icono-carrito-lleno"><a href="carrito.html">
                    <img src="../images/cartFull.png" alt="Carrito Full" class="icono-carrito-full">
                </a></li>
            </ul>
        </nav>
    </header>

    <main>
    <section>
        <div class="contenedor"> 
        <h1>Regístrate</h1> 
            <form action="#" method="get">

                <label>Correo electrónico:</label>
                <input class="input-form" type="email" placeholder="Ingresa tu correo" required><br><br>

                <label>Contraseña:</label>
                <input class="input-form" type="password" placeholder="Ingresa tu contraseña" required><br><br>

                <input class="checkbox" type="checkbox" id="" value="">
                Acepto los <a href="#"> Términos y Condiciones y Políticas de Privacidad, la política de cookies y recibir novedades y promociones.</a>
                <br><br>

                <div class="centrado">
                <input class="btn" type="submit" value="Regístrate">
                <br><br>

                ¿Ya tienes cuenta? <a href="login.html">Inicia la sesión</a>

                </div>

            </form>
        </div>
    </section>
</main>
</body>
</html>